.v-application,
.v-application .text-body-1,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-lg-h2,
.v-application .text-lg-h3,
.v-application .text-lg-h4,
.v-application .text-lg-h5 {
    font-family: Tajawal !important;
}


.font-size-14{
    font-size: 14px !important;
}

.siema > div{
    display: flex;
}
